/*colors*/
$base-background: #0ed8d6;
$linear-gradient:rgba(0, 0, 0, 0.4);
$gradient-1: rgba(204, 103, 103, 0.4);
$gradient-2: rgba(74, 39, 78, 0.4);
$dark-color: #333;
$text-color: #fff;
$body-color: #777;
$mask-color: rgba(14, 216, 214, 0.5);
$portfolio-color: #f7f7f7;
$link-hover-color: rgb(14, 216, 214);

/*fonts*/
$Roboto: 'Roboto Slab', serif;
$Montserrat:'Montserrat', sans-serif;
$Droid: "Droid Serif", sans-serif;